.social-link-day {
  background-color: rgb(185, 81, 6);
  background: radial-gradient(transparent 60%, black) #e76508;
  background-color: rgb(185, 81, 6);
  background-image: radial-gradient(rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0));
}
